{% extends 'base.html' %}

{% block content %}
  <h1>All Blog Posts</h1>
  <a href="{% url 'post-create' %}" class="btn btn-primary">Create New Post</a>
  <ul>
    {% for post in posts %}
      <li>
        <h2><a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a></h2>
        <p>{{ post.content|truncatewords:30 }}</p>
        <p><small>By {{ post.author }} on {{ post.created_at }}</small></p>
      </li>
    {% empty %}
      <p>No posts available.</p>
    {% endfor %}
  </ul>
{% endblock %}
